# IntelliJ files
/.idea/workspace.xml
/.idea/libraries/Gradle__*.xml

# Gradle files
/.gradle
/gradle

# OS files
.DS_Store
._.DS_Store
# Temporary files
*~
/build

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
